* {
  padding: 0;
  margin: 0;
}
body {
  background-image: url("../images/funky-lines.png");
}

.wrapper {
  display: inline-block;
}

img {
  display: inline-block;
  border: 5px blue solid;
  padding: 5%;
  width: 50%;
}
