* {
  margin: 0;
}

@media only screen and (min-width: 650px) {
  .top-nav ul li, .menu-icon {
    display: inline-block;}

  .top-nav ul {
    text-align: center;}


    .photo-grid{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

  .photo-cell {
    display:inline-block;
  grid-column: 1 / span 2;}


  .yellow {
    grid-column: 1/2;
  }

  .blueish-purple {
    grid-column: 2/2;
  }
}

@media only screen and (min-width: 1000px) {
  .top-nav ul li {
    display: inline-block;
  }

  .top-nav ul {
    text-align: right;
    padding: 10px;
  }

  .logo img {
    float:left;
  }

  .photo-grid {
 	  display: grid;
    /* width: 100%; */
    /* height: auto; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;}

  .photo-cell {
    grid-column: span 2;
    padding: 0;
  }

  .yellow {
  grid-column: 1 / 2;
}

.blueish-purple {
  grid-column: 2/2;
}

       /* .photo-grid #a {
        display: inline-block;
        grid-area: 1 / 1 / 2/ 3
          }
       .photo-grid #b {
        display: inline-block;
        grid-area: 1/ 3/ 2/ 5;
          }

       .photo-grid #c {
        display: inline-block;
        grid-area: 2/ 1/ 3/ 2
          }
        .photo-grid #d {
        display: inline-block;
        grid-area: 2/ 2/ 3/ 3
          }
        .photo-grid #e {
        display: inline-block;
        grid-area: 2/ 3/ 3/ 5
          }
        .photo-grid #f {
        display: inline-block;
        grid-area: 3/ 1/ 4/ 3
          }

        .photo-grid #g {
        display: inline-block;
        grid-area: 3/ 3/ 4/ 5
          } */
}
