body {
  background-color: grey;
  margin: 0;
  padding: 0;
}

header {
  text-align: right;
  background-color: yellow;
}

nav ul li {
  display: inline-block;
  background-color: black;
}

nav li {
  padding: 5px 20px 10px 35px;
}

nav a {
  color: white;
  text-decoration: none;
}

 #wrap {
  width: 90%;
  background-color: green;
  margin: auto;
}

#content {
  background-color: dimgrey;
}

aside {
  float: right;
  background-color: #fff;
  background-image: url("http://www.literarygenius.info/images/william-shakespeare.jpg");
  background-repeat: no-repeat;
  background-position: 50% 70%;
  background-size: 100%;
  height: 453px;
}

#content ul {
  list-style: none;
  text-align: center;
}

footer {
  /* padding: 10px; */
  /* line-height: 20px; */
}

footer p {
  vertical-align: middle;
  padding: 10px;
}

p, h1, h2 {
  margin: 0;
}
