/* desktop */
@media screen
  and (min-width: 1000px) {
    * {
      padding: 0;
      margin: 0;
    }

    html {
      font-size: 100%;
    }

    .wrapper {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 1fr;
      grid-gap: 20px;
      padding-top: 50px;
    }

    .logo {
      text-align: center;
      grid-column: 2 / 2;
      grid-row: 1;
    }

    .nav {
      text-align: right;
      grid-column: 7 / 12;
      grid-row: 1;
      /* background-color: black; */
    }

    .nav a {
      padding: 2px;
      text-decoration: none;
      color: black;
      font-size: 1.25rem;
      font-family: 'Bitter', serif;
    }

    .nav a:hover {
      border-bottom: 3px solid #FD4DB0;
    }

    .nav li, .categories li  {
      list-style: none;
      display: inline-block;
    }

    .categories {
      grid-column: 3 / 11;
      grid-row: 3;
      /* background-color: black; */
      text-align: center;
      font-family: "Bitter", serif;
      font-size: 1rem;
      color: black;
    }

    .categories a {
      text-decoration: none;
      color: darkgrey;
      padding: 7px;
    }

    .categories a:hover {
      color: black;
    }

    .center {
      text-align: center;
    }

    .header {
      grid-column: 3 / 11;
      grid-row: 2;
    }

    .header .caption {
      font-family: "Bitter", serif;
      font-size: 1.25rem;
    }

    .red-dot {
      font-size: 3.5rem;
      color: #ff65a3;
    }

    .project-grid {
      grid-column: 3 / 11;
      grid-row: 4;
      background-color: lightgrey;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      grid-gap: 20px;
      padding: 20px;
    }

    .project-grid .project {
      background-color: red;
    }

    .card {
      grid-column: 2/9;
      background-color: #feff9c;
      /* border-radius: 10px; */
      padding: 20px;
      -webkit-box-shadow: 10px 10px 25px -8px rgba(0,0,0,0.25);
      -moz-box-shadow: 10px 10px 25px -8px rgba(0,0,0,0.25);
      box-shadow: 10px 10px 25px -8px rgba(0,0,0,0.25);
      /* border: 1px dashed #FD4DB0; */
    }

    .card p {
      padding-bottom: 15px;
    }

    .content-wrapper {
      grid-column: 3 / 11;
      grid-row: 5 ;
      display: grid;
      grid-template-columns: repeat(9, 1fr);
      grid-template-rows: 1fr;
      grid-gap: 20px;
      /* background-color: grey; */
    }

    .sidebar {
      grid-column: 1/4;
      /* background-color: lightgrey; */
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 1fr;
      grid-gap: 10px;
      /* border-top: 5px solid red; */
    }

    .sidebar .item {
      grid-column: 1/6;
      border-top: 5px solid #FD4DB0;
      /* background-color: green; */
    }

    .title-anchor {
      grid-column: 1/4;
      background-color: white;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 1fr;
      grid-gap: 10px;
      border-top: 5px solid red;
      text-align: center;
    }


    .role {
      grid-column: 2/9;
      color: #DDDDDD;
      font-family: "Bitter", serif;
      font-size: 1rem;
      /* background-color: black; */
    }
    .sidebar .project-details {
      border: 0;
      color: #CCCCCC;
      /* font-size: 0.5rem; */
      grid-column: 1/6;
      /* background-color: green; */
    }

    .main-content h2 {
      color: #1DABE3;
      /* color: darkgrey; */
      font-size: 1.25rem;
    }

    .main-content h3 {
      /* color: #1DABE3; */
      /* color: grey; */
      font-size: 1.1rem;
      padding-left: 20px;
    }

    .indent {
      padding-left: 20px;
    }

    .body-content {
      /* font-family: "Roboto Condensed"; */
      /* font-family: "IBM Plex Sans Condensed"; */
      font-family: "Lato";
      /* font-family: "Open Sans"; */
      font-size: 1.1rem;
      /* line-height: 24px; */
      text-align: left;
    }

    .main-content {
      grid-column: 4/10;
      /* background-color: blue; */
      padding: 10px;
      line-height: 1.7rem;
      grid-auto-rows: auto;
      /* border-right: 1px solid #FD4DB0; */
    }

    .main-content p {
      padding-bottom: 10px;
    }

    .main-content img {
      /* display: inline-block; */
    }

    .post-image-container {
      /* background-color: red; */
      /* grid-column: 2/6; */
      display: inline;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    /* .center {
      text-align: center;
    } */


    .footer {
      font-size: .85rem;
      grid-column: 1/13;
      text-align: right;
      background-color: #EFEFEF;
      padding: 10px;
      font-family: "Bitter", serif;
    }
}

/* medium/tablet */
@media screen
  and (max-width: 1000px)
  and (min-width: 481px) {
    body {
      background-color: green;
    }
}

/* MOBILE */
@media only screen
  /* and (min-width: 320px) */
  and (max-width: 480px) {

    * {
      padding: 0;
      margin: 0;
    }

    body {
      background-color: red;
    }

      .wrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 5px;
        padding-top: 25px;
      }

      .logo {
        text-align: center;
        grid-column: 2 / 2;
        grid-row: 1;
        /* background-color: black; */
      }

      .nav {
        text-align: right;
        grid-column: 7 / 12;
        grid-row: 1;
        /* display: none; */
        /* background-color: black; */
      }

      .nav a {
        /* padding: 2px; */
        text-decoration: none;
        color: black;
        font-size: 0.8rem;
        font-family: 'Bitter', serif;
      }

      .nav a:hover {
        border-bottom: 3px solid #FD4DB0;
      }

      .nav li, .categories li  {
        list-style: none;
        display: inline-block;
      }

      .header {
        grid-column: 2 / 12;
        grid-row: 2;
        line-height: 2rem;
      }

      .header .caption {
        font-family: "Bitter", serif;
        font-size: 0.8rem;
      }

      .categories {
        grid-column: 2 / 12;
        grid-row: 3;
        /* background-color: black; */
        text-align: center;
        font-family: "Bitter", serif;
        font-size: 0.8rem;
        color: black;
      }

      .categories a {
        text-decoration: none;
        color: darkgrey;
        padding: 5px;
      }

      .categories a:hover {
        color: black;
      }

      .center {
        text-align: center;
      }

      h1 {
        font-family: "Bitter", serif;
        font-size: 1.5rem;
        line-height: 1rem;
        padding-bottom: 10px;
      }

      .red-dot {
        font-size: 2.75rem;
        color: #ff65a3;
      }

      .project-grid {
        grid-column: 2 / 12;
        grid-row: 4;
        background-color: lightgrey;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 20px;
        padding: 20px;
      }

      .project-grid .project {
        background-color: red;
      }

      .card {
        grid-column: 1/10;
        background-color: #feff9c;
        /* border-radius: 10px; */
        padding: 20px;
        -webkit-box-shadow: 10px 10px 25px -8px rgba(0,0,0,0.25);
        -moz-box-shadow: 10px 10px 25px -8px rgba(0,0,0,0.25);
        box-shadow: 10px 10px 25px -8px rgba(0,0,0,0.25);
        /* border: 1px dashed #FD4DB0; */
        line-height: 1.5rem;
        /* margin-bottom: 100px; */
      }

      .card p {
        /* padding-bottom: 15px; */
      }

      .content-wrapper {
        grid-column: 2 / 12;
        grid-row: 5;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 20px;
        background-color: white;
      }

      .sidebar {
        grid-column: 2/9;
        /* background-color: lightgrey; */
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 10px;
        /* border-top: 5px solid red; */
      }

      .sidebar .item {
        grid-column: 1/6;
        border-top: 5px solid #FD4DB0;
        /* background-color: green; */
      }

      .title-anchor {
        grid-column: 1/4;
        background-color: white;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 10px;
        border-top: 5px solid red;
        text-align: center;
      }


      .role {
        grid-column: 2/10;
        color: #DDDDDD;
        font-family: "Bitter", serif;
        font-size: 1rem;
        /* background-color: black; */
      }
      .sidebar .project-details {
        border: 0;
        color: #CCCCCC;
        /* font-size: 0.5rem; */
        grid-column: 1/6;
        /* background-color: green; */
      }

      .main-content h2 {
        color: #1DABE3;
        /* color: darkgrey; */
        font-size: 1.25rem;
      }

      .main-content h3 {
        /* color: #1DABE3; */
        /* color: grey; */
        font-size: 1.1rem;
        padding-left: 20px;
      }

      .indent {
        padding-left: 15px;
      }

      .body-content {
        /* font-family: "Roboto Condensed"; */
        /* font-family: "IBM Plex Sans Condensed"; */
        font-family: "Lato";
        /* font-family: "Open Sans"; */
        font-size: 1rem;
        /* line-height: 24px; */
        text-align: left;
      }

      .main-content {
        grid-column: 1/10;
        /* background-color: blue; */
        padding: 10px;
        line-height: 1.5rem;
        grid-auto-rows: auto;
        /* border-right: 1px solid #FD4DB0; */
      }

      .main-content p {
        padding-bottom: 10px;
      }

      .main-content img {
        /* display: inline-block; */
      }

      .post-image-container {
        /* background-color: red; */
        /* grid-column: 2/6; */
        display: inline;
        padding-top: 10px;
        padding-bottom: 10px;
      }

      .footer {
        font-size: .75rem;
        grid-column: 1/13;
        text-align: right;
        background-color: #EFEFEF;
        padding: 5px;
        font-family: "Bitter", serif;
      }
}
