/* GLOBAL STYLE */

* {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: "Bitter", serif;
}

body {
  background-color: #DDD;
  background-image:
  linear-gradient(rgba(255,255,255,.5) 2px, transparent 2px),
  linear-gradient(90deg, rgba(255,255,255,.5) 2px, transparent 2px),
  linear-gradient(rgba(255,255,255,.28) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255,255,255,.28) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

p {
  font-family: "Overpass", sans-serif;
  padding-bottom: 2.5%;
  line-height: 150%;
  font-size: 1rem;
}

.about-content img {
  max-width: 60%;
}

.margin-top {
  margin-top: 10%;
}

.indent {
  padding-left: 2.5%;
}

.center {
  text-align: center;
}

.home {
  font-size: 1.5rem;
  font-family: "Bitter", serif;
}


/* NAV */

.nav li, .categories li  {
  list-style: none;
  display: inline-block;
}

.nav a, .writing-content a, .about-facts-content a, .categories a, .spanall9 a {
  color: #000;
  border-bottom: 2px solid #1DABE3;
  text-decoration: none;
}

.nav li {
  padding: 1%;
}

.nav a:hover,
.nav a:focus,
body.writing a:hover,
body.writing a:focus,
body.about a:hover,
body.about a:focus,
.categories a:hover,
.categories a:focus,
.spanall9 a:hover,
.spanall9 a:focus  {
  color: #1DABE3;
  border: 0;
  background: transparent;
  -webkit-transition: color .15s;
  transition: color .15s;
}
.nav a::-moz-selection {
  background-image: none;
  background-color: #0074d9;
  color: #fff;
  text-shadow: none;
}
.nav a::selection {
  background-image: none;
  background-color: #0074d9;
  color: #fff;
  text-shadow: none;
}

body.about li.about a,
body.writing li.writing a,
body.work li.work a {
  color: #fff;
  text-shadow: none;
  background: none;
  background-color: #1DABE3;
  padding: 5%;
}

.nav {
  grid-row: 1;
  grid-column: 7/12;
  text-align: right;
}

.nav a, .categories {
  font-family: "Bitter", serif;
  text-decoration: none;
}






/* TOP  */
.logo {
  grid-row: 1;
  grid-column: 2;
}


.red-dot {
  color: #FD4DB0;
  font-size: 3rem;
}


.header {
  grid-row: 2;
  grid-column: 2/12;
  /* background-color: cyan; */
  padding-bottom: 2.25%;
}

.caption {
  font-family: "Bitter", serif;
}

.categories {
  grid-row: 3;
  grid-column: 2 / 12;
  text-align: center;
  margin-bottom: 3%;
  text-transform: lowercase;
}

.categories a {
  font-family: "Bitter", serif;
}

.categories li {
  display: inline-block;
  list-style: none;
  margin: 0 2%;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  background-color: white;
  padding-top: 3%;
  margin: 4%;
  -webkit-box-shadow: 10px 10px 50px -2px rgba(0,0,0,0.4);
  -moz-box-shadow: 10px 10px 50px -2px rgba(0,0,0,0.4);
  box-shadow: 10px 10px 50px -2px rgba(0,0,0,0.4);
}

.project-wrapper {
  grid-column: 2 / 12;
  grid-row: 4;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* width: 100%; */
  /* justify-content: space-evenly; */
  justify-content: space-around;
}

.project-item {
  display: flex;
  /* border: 2px solid white; */
  /* margin-bottom: 20px; */
  justify-content: center;
  align-items: stretch;
  max-width: 100%;
}

.project-wrapper img {
  object-fit: cover;
  max-width: 100%;
  /* max-height: 100%; */
}


/* START OVERLAY */
.wp-caption {
position: relative;
padding: 0;
margin: 0;
}

.wp-caption img {
max-width: 100%;
height: auto;

}
.wp-caption-text {
opacity: 0;
position: absolute;
width: 100%;
height: 100%;
color: #fff;
left: 0;
bottom: 0;
padding: 0.75em 1em;
z-index: 2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
background-color: rgba(0,0,0,.7);
-webkit-transition: opacity .3s ease-in-out;
transition: opacity .3s ease-in-out;
font-family: "Merriweather Sans";
font-size: 0.85rem;
text-align: center;
padding-top: 25%;
}

.wp-caption:hover .wp-caption-text {
opacity: 1;
}
/* END OVERLAY */


/* ENTRY */
.project-wrapper-entry {
  grid-column: 2 / 12;
  grid-row: 4;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 1fr;
  flex-wrap: wrap;
  /* flex-direction: row; */
  width: 100%;
  /* justify-content: space-evenly; */
  /* justify-content: space-around; */
}

.overview {
  grid-column: 1/4;
  /* background-color: #feff9c; */
  /* border-radius: 10px; */
  padding: 15px;
  /* -webkit-box-shadow: 10px 10px 25px -8px rgba(0,0,0,0.25);
  -moz-box-shadow: 10px 10px 25px -8px rgba(0,0,0,0.25);
  box-shadow: 10px 10px 25px -8px rgba(0,0,0,0.25); */
  text-align: center;
  margin: 3% 0;
}

.highlight {
    background-color: #fff2ac;
    background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);
    padding: 1%;
}


.left {
  text-align: left;
}
.role {
  padding: 15px;
  text-align: center;
  margin: 3% 0;
}

.tools {
  padding: 15px;
  text-align: center;
  margin: 3% 0;
}

.sidebar {
  grid-column: 1/4;
  text-align: center;
  border-top: 5px solid #FD4DB0;
  margin-top: 5%;
  margin-bottom: 5%;
}

.noborder {
  border: 0;
}

.content {
  grid-column: 4/10;
  margin-top: 5%;
  margin-bottom: 5%;
}

.role {
  grid-column: 7/10;
}

.gallery {
grid-column: 1/10;
display: flex;
flex-wrap: wrap;
flex-direction: row;
grid-gap: 2%;
/* justify-content: space-between; */
/* justify-content: center; */
align-items: center;
justify-content: space-evenly;
/* justify-content: space-around; */
margin-bottom: 5%;
}

.gallery .himage {
  max-width: 500px;
}

.gallery .vimage {
  max-width: 350px;
}

.gallery .image {
  max-width: 250px;
}


.gallery img {
  max-width: 100%;
  /* flex-wrap: wrap; */
  /* max-width: 100%; */
  /* width: 100%; */
  /* min-width: 100%; */
  /* height: auto; */
  /* flex: 1; */
  /* max-height: 450px; */
  /* border: 5px dashed lightgrey; */
}



.last-item-padding {
  margin-bottom: 25%;
}

.spanall9 {
  grid-column: 1/10;
  text-align: center;
}


footer {
  margin-top: 5%;
  grid-column: 1/13;
  text-align: center;
  padding-bottom: 5%;

}

footer p {
  font-size: 0.8rem;
  font-family: "Overpass";
  letter-spacing: 0.1rem;
  color: grey;
}

footer img:hover {
  background-color: #1DABE3;
  border-radius: 100%;

}

footer a {
  background: none;
  text-shadow: none;
}


/* START ABOUT PAGE */
.about-title {
  grid-row: 2;
  grid-column: 1/5;
  text-align: center;
  border-top: 5px solid #FD4DB0;
}

.about-content {
  grid-row: 3;
  grid-column: 1/5;
}

.about-facts-title {
  grid-row: 2;
  grid-column: 6/10;
  text-align: center;
  border-top: 5px solid #FD4DB0;
}

.about-facts-content {
  grid-row: 3;
  grid-column: 6/10;
  line-height: 1.5rem;
  font-family: "Overpass", sans-serif;
  font-size: 1.1rem;
}

.about-facts-content li {
  padding-bottom: 5%;
}

.about-facts-content ul {
  padding: 5%;
}
/* END ABOUT PAGE */


/* START WRITING PAGE */
.writing-title {
  grid-column: 1/3;
  text-align: center;
  border-top: 5px solid #FD4DB0;
}

.writing-content {
  grid-column: 4/10;
}

.writing-content p {
  margin: 1% 0;
}

.writing-content a {
  color: #000000;
}
.writing-content .date {
  font-family: "Overpass", sans-serif;
  font-size: 0.85rem;
  letter-spacing: 1px;
}

.noborder {
  border: 0;
}
/* END WRITING PAGE */


/* MEDIA QUERIES */

/* SMALL SCREENS */
@media screen and (max-width: 525px) {

  h1 {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 0.85rem;
  }

  .categories {
    grid-column: 2/12;
  }

  .categories li {
    /* display: inline; */
  }

  .logo {
    grid-row: 1;
    grid-column: 2;
  }

  .nav {
    display: inline-block;
    grid-column: 10/12;
    grid-row: 1;
    text-align: right;
    line-height: 150%;
  }

  .nav, .categories, .categories a {
    font-size: 0.8rem;
  }

  .caption {
    font-size: 0.9rem;
  }
  .red-dot {
    color: #FD4DB0;
    font-size: 2rem;
  }

  .project-item, .gap {
    max-width: 100%;
    /* min-width: 275px; */
    /* max-height: 200px; */
  }

  .overview, .role, .tools {
    grid-column: 1/10;
    padding: 1%;
  }

  .sidebar {
    grid-column: 2/9;
  }

  .content {
    grid-column: 1/10;
  }

  .about-title {
    grid-row: 2;
    grid-column: 2/9;
    text-align: center;
    /* border-top: 5px solid #FD4DB0; */
  }

  .about-content {
    grid-row: 3;
    grid-column: 1/10;
  }

  .about-facts-title {
    grid-row: 4;
    grid-column: 2/9;
  }

  .about-facts-content {
    grid-row: 5;
    grid-column: 1/10;
    line-height: 1.25rem;
    font-size: 1rem;
  }

  .about-facts-content ul {
    padding: 5%;
  }

  .about-facts-content li {
    padding-bottom: 5%;
  }



  .writing-title {
    grid-column: 2/9;
    text-align: center;
    border-top: 5px solid #FD4DB0;
  }

  .writing-content {
    grid-column: 1/10;
  }

  .content {
    grid-column: 1/10;
  }

  p {
    padding-bottom: 2.5%;
    line-height: 150%;
    font-size: 0.9rem;
  }

.noborder {
  border: 0;
}


  .header-image {
    grid-column: 1/10;
    /* border: 5px red solid; */
    /* height: 400px; */
    /* min-height: 175px; */
    /* min-width: 100%; */
  }

  .header-image img {
    object-fit: cover;
    max-width: 100%;
    /* min-height: 100%; */
  }



  .footer p {
    font-size: 0.5rem;
    /* letter-spacing: 0px; */
    color: grey;
  }

}


/* MEDIUM SCREENS */
@media screen and (min-width: 526px)
  and (max-width: 850px) {

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.1rem;
  }

  h3 {
    font-size: 1rem;
  }

  .logo {
    grid-column: 2;
  }

  .nav {
    display: inline-block;
    grid-column: 7/12;
    grid-row: 1;
  }

  .nav, .categories a {
    font-size: 1rem;
  }

  .caption {
    font-size: 1rem;
  }

  .header-image {
    grid-column: 1/10;
    /* border: 5px red solid; */
    /* height: 400px; */
    /* min-height: 175px; */
    /* min-width: 100%; */
  }

  .header-image img {
    object-fit: cover;
    max-width: 100%;
    /* min-height: 100%; */
  }

  .project-item, .gap {
    /* width: 375px;
    height: 225px; */
    max-width: 100%;
  }


  .overview {
    grid-column: 1/4;

  }

  .gallery {
    margin-bottom: 5%;
  }

  .role {
    grid-column: 4/7;
  }

.tools {
  grid-column: 7/10;
}

  .sidebar {
    grid-column: 1/3;
  }

  .content {
    grid-column: 4/10;
  }

  .footer {
    font-size: 0.75rem;
  }

}

/* LARGE SCREENS */
@media screen and (min-width: 850px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.15rem;
  }

  h3 {
    font-size: 1rem;
  }

  .nav {
    display: inline-block;
  }

  .logo {
    grid-column: 2;
  }

  .nav, .categories a {
    font-size: 1.25rem;
  }

  .caption {
    font-size: 1.25rem;
  }

  .header-image {
    grid-column: 1/10;
    /* border: 5px red solid; */
    /* height: 400px; */
    /* min-height: 175px; */
    /* min-width: 100%; */
  }

  .header-image img {
    object-fit: cover;
    max-width: 100%;
    /* min-height: 100%; */
  }


  .margin-top {
    margin-top: 5%;
  }

  .overview {
    grid-column: 1/4;

  }

  .role {
    grid-column: 4/7;
  }

.tools {
  grid-column: 7/10;
}

  .sidebar {
    grid-column: 1/4;
}

  .content {
    grid-column: 5/10;
  }

  .project-item, .gap {
    width: 400px;
    height: 225px;
  }


  .footer {
    font-size: 0.85rem;
  }
}
